/* login-styles.css */

.LoginForm {

    position: absolute;
    width: 470px;
    height: 380px;
    left: calc(50% - 470px/2);
    top: 226px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);


}

#LoginTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    white-space: nowrap; /* One line */
    /* text */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
    
}

#login-email {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 50px;
    top: 80px;
    /* placeholder text */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000103; 
 
     /* border */
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 16px;
    white-space: nowrap; /* One line */
    padding-left: 13px 
    
}




#login-password {
    /* border */
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 50px;
    top: 175px;
    /* placeholder text */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000103;

    white-space: nowrap; /* One line */
    padding-left: 13px 

    }

#LoginButton {
/* Login in button */
position: absolute;
background: #AED3FF;
border: 1px solid rgba(51, 51, 51, 0.2);
border-radius: 16px;
left: 50%;
transform: translateX(-50%);
width: 150px;
height: 50px;
top: 275px;
/* Login text */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #0064A4;

}