/* login-styles.css */

.LoginForm {
    position: relative;
}

.LoginTitle {
    position: absolute;
    width: 319px;
    height: 33px;
    left: 561px;
    top: 262px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
    
}

.LoginEmail, .LoginPassword {
    position: absolute;
    width: 73px;
    height: 38px;
    left: 538px;
    top: 345px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: rgba(0, 0, 0, 0.25);

    white-space: nowrap; /* One line */
    

}